@font-face {
  font-family: "Gilroy-Semibold";
  src: url("/fonts/Gilroy-SemiBold.eot");
  src: url("/fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-SemiBold.woff") format("woff"),
    url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.eot");
  src: url("/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium.eot");
  src: url("/fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Medium.woff") format("woff"),
    url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy-Light.eot");
  src: url("/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Light.woff") format("woff"),
    url("/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.eot");
  src: url("/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Black";
  src: url("/fonts/Gilroy-Black.eot");
  src: url("/fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Black.woff") format("woff"),
    url("/fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
