@import "fonts";
@import "reset";
@import "mixins";
@import "media";

.container {
  box-sizing: border-box;
  margin: 0;
  background-color: #f5f3ea;
  max-width: 100%;
}

.header {
  padding: 40px 70px 0;
  @include flex(row, space-between);

  .logo {
    @include flex($gap: 10);
    @include font(#000, Gilroy-Black, 35, 800);
    letter-spacing: -0.7px;
    position: relative;
    display: block;

    &:after {
      content: "®";
      @include font(#000, Gilroy-Regular, 25, 300);
      position: absolute;
      top: 0;
      right: -20px;
    }

    &__img {
      width: 91px;
      height: 35px;
    }

    &--bold {
      @include font(#000, Gilroy-Medium, 35, 400);
      text-transform: uppercase;
    }
  }

  .logo--320px {
    display: none;

    &__img {
      width: 91px;
      height: 35px;
    }
  }

  .menu {
    @include font(#252525, Gilroy-SemiBold, 25, 400);
    background-color: #f5f3ea;
  }
}

.main {
  width: 100%;
  @include flex(column);
  box-sizing: border-box;

  .about-me {
    width: 100%;
    padding: 60px 0 70px;
    @include flex(column, $gap: 70, $align: center);

    &__name {
      @include font(#252525, Gilroy-SemiBold, 150, 400);
      text-transform: uppercase;
      text-align: center;
    }

    &__title {
      @include font(#252525, Gilroy-Regular, 150, 300);
      text-transform: capitalize;
      text-align: center;
      position: relative;
      margin-bottom: 30px;
      width: 1000px;

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        border-bottom: 3px solid #000;
        border-left: 3px solid #000;
        right: 496px;
        bottom: -70px;
        position: absolute;
        transform: translateY(-50%) rotate(315deg);
      }

      &:before {
        content: "";
        width: 40px;
        height: 40px;
        border-bottom: 3px solid #000;
        right: 462px;
        bottom: -86px;
        position: absolute;
        transform: translateY(-50%) rotate(90deg);
      }
    }

    &__photo {
      width: 100%;
      display: block;
    }

    &__photo--768px {
      width: 100%;
      display: none;
    }

    .information {
      width: 100%;
      box-sizing: border-box;
      padding-left: 70px;
      @include flex(row, space-between, 0, none);

      &__description {
        @include font(#252525, Gilroy-Regular, 46, 300);
        width: 1000px;

        &--bold {
          @include font(#252525, Gilroy-Black, 46, 800);
        }
      }

      .social {
        background: #252525;
        box-sizing: border-box;
        width: 400px;
        padding: 16px 50px 16px 0;
        @include flex(column, end, 30, end);

        &__description {
          @include font(#fff, Gilroy-Medium, 32, 400, 32);
          text-transform: uppercase;
        }

        .social-list {
          @include flex($gap: 20);

          &__item {
            @include social-item(50, 50);
          }

          .facebook--white {
            background-image: url("/images/socials/facebook_white.svg");
            @include social-icon;
          }

          .twitter--white {
            background-image: url("/images/socials/twitter_white.svg");
            @include social-icon;
          }

          .linkedin--white {
            background-image: url("/images/socials/linkedin_white.svg");
            @include social-icon;
          }

          .dribble--white {
            background-image: url("/images/socials/dribble_white.svg");
            @include social-icon;
          }
        }
      }
    }
  }

  .logos {
    width: 100%;
    box-sizing: border-box;
    padding: 70px;
    @include flex(row, center, 40);
    flex-wrap: wrap;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #252525;

    &__item {
      padding: 15px 45px;
      border-radius: 50px;
      background: #fff;
    }
  }

  .what-i-do {
    width: 100%;
    display: flex;
    border-bottom: 1px solid;

    &__photo {
      width: 51vw;
      height: auto;
      background-image: url(../images/what-i-do-bgd.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 111px;

      &_title {
        margin-top: 70px;
        @include font(#252525, Gilroy-Regular, 36, 300);
        font-size: 150px;
        line-height: 172.95px;
        margin-left: 0px;
        margin-right: auto;
        margin-left: 6vw;
      }

      &_list {
        margin-top: 100px;
        margin-bottom: 70px;
        margin-left: 6vw;

        &-items {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-right: 70px;

          b.item-1,
          b.item-2,
          b.item-3,
          b.item-4 {
            @include font(#252525, Gilroy-SemiBold, 150, 400);
            font-size: 44px;
            line-height: 48px;
            position: relative;
            margin-left: 50px;

            &::before {
              content: "";
              position: absolute;
              left: -50px;
              font-weight: bold;
              @include font(#000000, Gilroy-Light, 150, 200);
              font-size: 44px;
              line-height: 48px;
            }
          }

          b.item-1::before {
            content: "01";
            left: -45px;
          }

          b.item-2::before {
            content: "02";
            left: -55px;
          }

          b.item-3::before {
            content: "03";
            left: -55px;
          }

          b.item-4::before {
            content: "04";
            left: -55px;
          }

          p {
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 10px;
          }

          div {
            width: 100%;
            outline: 1px solid #252525;
            margin-top: 40px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .selected-work {
    width: 100%;
    padding: 70px 70px 100px;
    box-sizing: border-box;
    @include flex(column, normal, 0, none);
    border-bottom: 1px solid #252525;

    &__title {
      @include font(#252525, Gilroy-Regular, 120, 300);
      letter-spacing: 8.48px;
      text-transform: uppercase;
      text-align: center;
    }

    .selected-work-list {
      width: 100%;
      @include grid();
      margin-top: 50px;

      .selected-work__img {
        width: 100%;
        height: 100%;
      }

      .trinity--first {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }

      .works-author {
        width: 100%;
        height: 100%;
        @include flex(column, $align: none);

        &__name {
          @include font(#000, Gilroy-Bold, 40, 400, 44);
          text-transform: uppercase;
        }

        .sort {
          margin-top: 30px;
          @include flex($gap: 30);

          &__category {
            @include font(#252525, Gilroy-Medium, 18, 400);
            padding: 15px 30px;
            border-radius: 50px;
            background: #fff;
          }
        }

        &__discover {
          border-radius: 50px;
          background: #252525;
          padding: 16px 47px 16px 31px;
          display: block;
          width: fit-content;
          @include font(#fff, Gilroy-Medium, 18, 400);
          position: relative;
          align-self: end;
          margin-top: auto;
          @include right-arrow--white(20, 15, 20, 16);
        }
      }
    }

    &__all-work {
      margin-top: 70px;
      text-align: center;
      @include font(#252525, Gilroy-Medium, 18, 400);
      padding: 15px 60px;
      border-radius: 50px;
      background: #fff;
      width: fit-content;
      align-self: center;
    }
  }

  .clients {
    width: 100%;
    display: flex;
    border-bottom: 1px solid;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;

    &__title {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 50px;

      h4 {
        @include font(#252525, Gilroy-Regular, 120, 300);
        letter-spacing: 8.48px;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &__list {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .client {
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 100%;

        &:nth-child(1) {
          border-right: 1px solid #000000;
          border-bottom: 1px solid #000000;
        }

        &:nth-child(2) {
          border-bottom: 1px solid #000000;
        }

        &:nth-child(3) {
          border-bottom: 1px solid #000000;
          border-left: 1px solid #000000;
        }

        &:nth-child(4) {
          border-right: 1px solid #000000;
        }

        &:nth-child(6) {
          border-left: 1px solid #000000;
        }

        &__content {
          display: flex;
          flex-direction: column;
          padding: 30px;
          height: 100%;

          &_logo-1 {
            width: 180px;
            height: 35px;
          }

          &_logo-2 {
            width: 150px;
            height: 35px;
          }

          &_logo-3 {
            width: 150px;
            height: 35px;
          }

          &_logo-4 {
            width: 175px;
            height: 35px;
          }

          &_logo-5 {
            width: 84px;
            height: 35px;
          }

          &_logo-6 {
            width: 150px;
            height: 35px;
          }

          &_description {
            margin-top: 30px;
            margin-bottom: 30px;
            min-height: 132px;
            @include font(#000, Gilroy-Bold, 40, 800, 44);
          }

          &_infos {
            margin-top: 30px;
            margin-bottom: auto;
            @include font(#000, Inter, 20, 400, 30);
          }

          &_data {
            display: flex;
            margin-top: 30px;
            margin-bottom: 30px;

            &-ico {
              width: 70px;
              height: 70px;
              border-radius: 50px;
            }

            &-info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 20px;
              margin-top: 10px;

              &--name {
                @include font(#000, Inter, 20, 600, 20);
              }

              &--position {
                @include font(#000, Inter, 20, 400, 20);
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }

  .our-team {
    width: 100%;
    padding: 50px 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;

    &__title {
      @include font(#252525, Gilroy-Regular, 120, 300);
      letter-spacing: 8.48px;
      text-transform: uppercase;
      text-align: center;
    }

    &__list {
      @include flex($gap: 40);
      flex-wrap: wrap;
      margin-top: 50px;

      .card {
        padding: 30px 0;
        @include flex(column, $gap: 16);

        &__name {
          @include font(#333, Gilroy-Black, 30, 800);
          text-transform: uppercase;
        }

        &__position {
          @include font(#333, Gilroy-Medium, 20, 400);
          margin-top: 6px;
        }

        &__photo {
          margin-top: 16px;
          max-width: 416px;
          aspect-ratio: 9/ 11;
          object-fit: cover;
          filter: grayscale(100%);
        }

        .social-list {
          @include flex($gap: 10);
          align-self: end;

          &__item {
            @include social-item(30, 30);
          }

          .facebook--black {
            background-image: url("/images/socials/facebook_black.svg");
            @include social-icon;
          }

          .twitter--black {
            background-image: url("/images/socials/twitter_black.svg");
            @include social-icon;
          }

          .linkedin--black {
            background-image: url("/images/socials/linkedin_black.svg");
            @include social-icon;
          }

          .dribble--black {
            background-image: url("/images/socials/dribble_black.svg");
            @include social-icon;
          }
        }
      }

      .join-team {
        max-width: 1000px;
        min-width: 870px;
        @include flex(column, normal, 16, start);

        &__title {
          @include font(#333, Gilroy-Regular, 30, 400);
          text-transform: uppercase;
        }

        &__description {
          @include font(#333, Gilroy-Bold, 64, 400);
          text-transform: uppercase;
        }

        &__find-job {
          @include font(#fff, Gilroy-Medium, 18, 400);
          text-transform: capitalize;
          padding: 16px 52px 16px 30px;
          border-radius: 50px;
          background: #252525;
          position: relative;
          @include right-arrow--white(26, 16, 26, 17);
        }
      }
    }
  }

  .contact {
    display: flex;
    width: 100%;
    margin-top: 50px;

    &__title {
      @include font(#333333, Gilroy-Regular, 135, 300);
      justify-content: center;
      display: flex;
      margin-left: 70px;
      margin-top: 50px;
      margin-right: auto;
    }

    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 150px;
      margin-right: 70px;

      b {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        @include font(#252525, Gilroy-Bold, 64, 75);
        margin-right: auto;
      }

      p {
        margin-top: 30px;
        @include font(#252525, Gilroy-Medium, 34, 40);
      }

      button {
        height: 53px;
        background-color: #252525;
        border-radius: 50px;
        padding: 10px 30px;
        margin-top: 30px;
        color: #ffffff;
        @include font(#ffffff, Gilroy-Medium, 18, 21);
        margin-left: 0px;
        margin-right: auto;
        position: relative;
        padding-right: 65px;

        &::after {
          content: "";
          width: 23px;
          height: 31px;
          background-image: url(../images/icons/btn-arrow.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 23%;
          right: 15%;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000000;
  margin-top: 100px;
  padding: 25px 0px;

  &__text {
    margin-left: 70px;

    p {
      @include font(#333333, Gilroy-Regular, 18, 21);
    }

    b {
      @include font(#333333, Gilroy-Semibold, 18, 21);
    }
  }

  &__img {
    margin-right: 60px;
    text-decoration: none;

    img {
      margin-right: 10px;
    }
  }
}
