@import "mixins";

//адаптив 768px-1200px-------------------------------------------------------------------------------------

@media screen and (max-width: 1200px) {
  .container {
    .main {
      .about-me {
        gap: 30px;
        padding: 60px 0 0;

        &__name {
          @include font(#252525, Gilroy-SemiBold, 96, 400);
        }

        &__title {
          @include font(#252525, Gilroy-Regular, 96, 300);
          width: 750px;

          &:after {
            right: 370px;
          }

          &:before {
            right: 336px;
          }
        }

        &__photo {
          display: none;
        }

        &__photo--768px {
          margin-top: 40px;
          display: block;
        }

        .information {
          @include flex(column, $gap: 30);
          padding-left: 0;

          &__description {
            text-align: center;
            @include font(#252525, Gilroy-Regular, 40, 300);
            width: 100%;

            &--bold {
              @include font(#252525, Gilroy-Black, 40, 800);
            }
          }

          .social {
            width: 100%;
          }
        }
      }

      .logos {
        padding: 40px 30px;
        border-top: none;
        gap: 20px;
      }

      .what-i-do {
        flex-direction: column;
        align-items: center;

        &__photo {
          width: 100vw;
          height: 100vw;
        }

        &__info {
          margin-left: 0px;
          align-items: center;

          &_title {
            margin: auto;
            margin-top: 40px;
          }

          &_list {
            margin-left: 0px;
            padding-left: 20px;
          }
        }
      }

      .selected-work {
        padding: 30px;

        .selected-work-list {
          @include flex(column, $gap: 30);

          .trinity--first {
            margin-bottom: 40px;
          }

          .works-author {

            &__discover {
              margin-top: 30px;
            }
          }
        }
      }

      .clients {
        &__list {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(6, 1fr);

          &__title {
            @include font(#252525, Gilroy-Regular, 150, 300, 172);
          }

          .client {
            width: 100%;
            border-right: none;
            &:nth-child(1) {
              border-right: none;
            }

            &:nth-child(3) {
              border-left: none;
            }

            &:nth-child(4) {
              border-right: none;
            }

            &:nth-child(6) {
              border-left: none;
            }

            &__content {
              &_description {
                min-height: 0px;
              }

              &_infos {
                margin-top: 0px;
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .our-team {

        &__title {
          @include font(#252525, Gilroy-Regular, 100, 300);
        }

        &__list {
          justify-content: center;
          margin-top: 30px;

          .card {

            &__photo {
              max-width: 446px;
              aspect-ratio: 9/ 11;
            }
          }

          .join-team {
            min-width: 600px;
          }
        }
      }

      .contact {
        flex-direction: column;
        align-items: center;

        &__title {
          text-align: center;
          margin: auto;
        }

        &__info {
          width: 100%;
          margin-right: 0px;
          margin-left: 0px;

          span {
            text-align: center;
            padding: 0px 30px;
          }

          p {
            text-align: center;
            padding: 0px 30px;
          }

          &-btn {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

//адаптив 320px-768px------------------------------------------------------------------------------------------------

@media screen and (max-width: 768px) {
  .container {
    .header {
      padding: 20px 20px 0;

      .logo {
        display: none;
      }

      .logo--320px {
        display: block;
      }
    }

    .main {

      .about-me {
        gap: 30px;
        padding: 30px 0 0;

        &__name {
          @include font(#252525, Gilroy-SemiBold, 38, 400);
        }

        &__title {
          @include font(#252525, Gilroy-Regular, 38, 300);
          width: 300px;

          &:after {
            right: 144px;
            bottom: -38px;
          }

          &:before {
            right: 120px;
            width: 20px;
            bottom: -64px;
          }
        }

        &__photo {
          display: none;
        }

        &__photo--768px {
          margin-top: 0;
          display: block;
        }

        .information {

          &__description {
            text-align: center;
            @include font(#252525, Gilroy-Regular, 26, 300);
            width: 100%;

            &--bold {
              @include font(#252525, Gilroy-Black, 26, 800);
            }
          }

          .social {
            width: 100%;
            padding: 16px 20px 16px 0;
          }
        }
      }

      .logos {
        padding: 40px 30px;
        border-top: none;
      }

      .what-i-do {
        &__info {
          margin-left: 0px;
          align-items: center;
          &_title {
            @include font(#252525, Gilroy-Regular, 60, 300, 92);
            margin: auto;
            margin-top: 20px;
          }
          &_list {
            width: 100%;
            box-sizing: border-box;
            &-items {
              b.item-1,
              b.item-2,
              b.item-3,
              b.item-4 {
                @include font(#252525, Gilroy-SemiBold, 35, 41);

                &::before {
                  @include font(#000000, Gilroy-Light, 35, 41);
                }
              }
            }
          }
        }
      }

      .selected-work {

        &__title {
          @include font(#252525, Gilroy-Regular, 40, 300);
        }

        .selected-work-list {

          .trinity--first {
            margin-bottom: 10px;
          }

          .works-author {

            .sort {
              margin-top: 20px;

              &__category {
                @include font(#252525, Gilroy-Medium, 12, 400);
              }
            }
          }
        }

        &__all-work {
          margin-top: 40px;
        }
      }

      .clients {
        &__title {
          width: 320px;
          h4 {
            @include font(#252525, Gilroy-Regular, 57, 300, 92);
            letter-spacing: 1px;
          }
        }

        .client {
          border-right: none;
        }
      }

      .our-team {
        padding: 50px 20px;

        &__title {
          @include font(#252525, Gilroy-Regular, 40, 300);
        }
        &__list {
          justify-content: center;
          gap: 0;

          .card {
            padding: 20px 0;

            &__name {
              text-align: center;
            }

            &__position {
              text-align: center;
            }

            &__photo {
              max-width: 260px;
              min-width: 200px;
              aspect-ratio: 9/ 11;
              align-self: center;
            }

            .social-list {
              align-self: center;
            }
          }

          .join-team {
            min-width: 200px;
            align-items: center;
            padding: 0;

            &__description {
              @include font(#333, Gilroy-Bold, 20, 400);
              text-align: center;
            }

            &__find-job {
              width: 70%;
              display: block;
              @include right-arrow--white--320px(120, 16, 114, 16);
            }
          }
        }
      }

      .contact {
        &__title {
          width: 320px;
          h5 {
            @include font(#252525, Gilroy-Regular, 60, 300, 92);
          }
        }

        &__info {
          b {
            @include font(#252525, Gilroy-Bold, 50, 58);
          }

          p {
            @include font(#252525, Gilroy-Medium, 30, 35);
          }

          &-btn {
            height: 45px;
            padding: 8px 25px;
            padding-right: 55px;

            &::after {
              width: 20px;
              height: 27px;
              top: 10px;
              right: 25px;
            }
          }
        }
      }
    }

    .footer {
      flex-direction: column;

      &__text {
        margin-left: 0px;
        width: 100%;
        text-align: center;
      }

      &__img {
        margin-right: 0px;
        margin-top: 20px;
      }
    }
  }
}
