@mixin font($color: #252525, $family: Gilroy-Regular, $size, $weight, $height: normal) {

  color: $color;
  font-family: $family;
  font-size: $size+px;
  font-style: normal;
  font-weight: $weight;
  line-height: $height+px;
}

@mixin flex ($direction: row, $justify: normal,$gap: 0, $align: center){

  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  gap: $gap+px;
  align-items: $align;
}

@mixin grid ($f: minmax(auto, 1fr)) {
  display: grid;
  grid-template-columns: repeat(3, $f);
  grid-template-rows: repeat(2, $f);
  gap: 40px;
  column-gap: 40px;
  row-gap: 70px;
}

@mixin social-item ($width, $height) {
  display: block;
  width: $width+px;
  height: $height+px;
}

@mixin social-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin right-arrow--white ($a-right, $a-bottom, $b-right, $b-bottom) {
  &:after {
    content: '';
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #FFF;
    border-left: 2px solid #FFF;
    right: $a-right+px;
    bottom: $a-bottom+px;
    position: absolute;
    transform: translateY(-55%) rotate(225deg);
  }

  &:before {
    content: '';
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #FFF;
    right: $b-right+px;
    bottom: $b-bottom+px;
    position: absolute;
    transform: translateY(-50%) rotate(0deg);
  }
}

@mixin right-arrow--white--320px ($a-left, $a-bottom, $b-left, $b-bottom) {
  &:after {
    content: '';
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #FFF;
    border-left: 2px solid #FFF;
    left: $a-left+px;
    bottom: $a-bottom+px;
    position: absolute;
    transform: translateY(-55%) rotate(225deg);
  }

  &:before {
    content: '';
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #FFF;
    left: $b-left+px;
    bottom: $b-bottom+px;
    position: absolute;
    transform: translateY(-50%) rotate(0deg);
  }
}